/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.header-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #ECF2FF;
}

.logo {
    width: 70px;
    height: 70px;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 20px;
}

.Name-hero {
    font-size: 35px;
    padding-left: 50px;
    padding-top: 29px;
    padding-bottom: 20px;
    padding-right: 10px;
    flex: 1;
}

.menu-navbar {
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
    display: flex;
    gap: 30px;
} 

.home {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #A8D1D1;
}

.profile {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #A8D1D1;
}

.logout {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #A8D1D1;
}

.hero-head {
    font-weight: bold;
    font-size: 37px;
    margin-top: 140px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.hero-hp1 {
    margin-left: 20px;
    font-size: 21px;
    margin-bottom: 7px;
}

.hero-hp2 {
    margin-left: 20px;
    font-size: 21px;
    margin-bottom: 15px;
}

.hero-img {
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 39px;
    width: 600px;
    height: 500px;
}

.headquarter-head{
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 39px;
}

.headquarter-gallery {
    display: flex;
    text-align: center;
    gap: 30px;
    font-size: 19px;
    padding-bottom: 40px;
}

.messageus-head {
    font-size: 29px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.form {
    display: flex;
    gap: 200px;
    align-items: center;
    padding-bottom: 99px;
}

.form-input {
    display: flex;
    gap: 40px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.form-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-output {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid #625c5c;
    width: 370px;
    height: 150px;
}

.form-submit-size {
    width: 265px;
    padding-top: 3px;
    padding-bottom: 3px;
}

@media screen and (max-width: 600px) {
    .hero-img {
        padding-left: 20px;
        padding-top: 17px;
        padding-bottom: 39px;
        height: 250px;
        width: 460px;
        
    }
}

@media screen and (max-width: 600px) {
    .hero-img {
        padding-left: 20px;
        padding-top: 17px;
        padding-bottom: 39px;
        height: 250px;
        width: 520px;   
    }

    .form {
        flex-direction: column;
        gap: 50px
    }
}


@media screen and (min-width: 768px) {
    .hero-img {
        padding-left: 20px;
        padding-top: 17px;
        padding-bottom: 39px;
        height: 370px;
        width: 700px;   
    }

    .form {
        gap: 100px
    }
}


@media screen and (min-width: 1024px) {
    .hero-img {
        padding-left: 20px;
        padding-top: 17px;
        padding-bottom: 39px;
        height: 470px;
        width: 900px;
    }

    .form {
        gap: 200px
    }
}